.container {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px;
  background-color: #191b20;
  width: 100%;
}
.tutorial {
  background-color: #abe8ff;
  color: #2b2557;
  font-size: 14px;
  position: relative;
}
.tutBtn {
  border: none;
  color: #2b2557;
  background-color: white;
  border-radius: 6px;
  padding: 5px 15px;
  margin-top: 10px;
}
.section {
  padding: 20px;
  width: 65%;
}
.section > * {
  margin-bottom: 20px;
}
.pill {
  font-size: 12px;
  border-radius: 500px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #353945;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 20px;
}
.fee {
  background: linear-gradient(135deg, #bbb5e2 0%, #9c92df 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 10px;
}
.referral {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  background-color: #242731;
  padding: 20px;
  border-radius: 8px;
}
.image {
  object-fit: contain;
  position: absolute;
  bottom: -12px;
  right: 15px;
}
.cross {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 50%;
  color: #191b20;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  background-color: white;
}
.wallet {
  background: #191b20;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}
.wallet > svg {
  color: #3772ff;
  margin-right: 10px;
}
.badge {
  background-color: #a3e3ff;
  border-radius: 6px;
  font-size: 12px;
  color: #3772ff;
  padding: 3px 10px;
  margin-left: 15px;
}
@media only screen and (max-width: 1130px) {
  .container {
    flex-direction: column;
  }
  .section {
    width: 100%;
  }
  .section > header {
    margin-left: 45px;
  }
}
