.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  border-left: 2px solid #242731;
}
.input {
  background-color: #242731;
  padding: 15px 20px;
  border: none;
  color: white;
  border-radius: 12px;
  width: 100%;
  font-family: "Inter";
}
.select1,
.select2 {
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color: #353945;
  color: white;
  font-family: "Poppins";
}
.select2 {
  background-color: black;
  border: 2px solid #3772ff;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
